---
import Layout from '../layouts/Layout.astro'
import '../styles/terms-conditions.css'

import { sections } from '../content/terms-conditions'
---

<Layout title='Aspirare Semi'>
  <main class='tnc'>
    <div class='spacer'></div>
    <div class='container'>
      {
        sections.map(({ id, title, isH1, body, toc }) => (
          <section id={id}>
            {isH1 ? <h1>{title}</h1> : <h2>{title}</h2>}
            {body.map((item) => {
              // Lists
              if (Array.isArray(item)) {
                return (
                  <ul>
                    {item.map((li) => (
                      <li>{li}</li>
                    ))}
                  </ul>
                )
              }
              //Links
              if (typeof item === 'object' && item.url) {
                return (
                  <p>
                    <a href={item.url}>{item.text}</a>
                  </p>
                )
              }
              // Paragraphs
              return <p>{item}</p>
            })}

            {toc && ( // Table of Contents
              <>
                <h2>{toc.title}</h2>
                <ol>
                  {toc.links.map((link) => (
                    <li>
                      <a href={link.url}>{link.text}</a>
                    </li>
                  ))}
                </ol>
              </>
            )}
          </section>
        ))
      }
    </div>
  </main>
</Layout>
